.abhijavati-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.abhijavati-image {
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-start;
}
.abhijavati-link {
  display: contents;
}
.abhijavati-image01 {
  width: auto;
  height: 120px;
  align-self: center;
  margin-top: 0px;
  object-fit: cover;
  margin-left: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.abhijavati-image02 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-end;
}
.abhijavati-image03 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: 0px;
  align-items: flex-end;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  justify-content: flex-end;
}
.abhijavati-video {
  width: auto;
  height: var(--dl-size-size-medium);
  opacity: 1;
  align-self: flex-end;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.abhijavati-image04 {
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-large);
  opacity: 0;
  align-self: flex-end;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
  margin-left: 0px;
}
.abhijavati-video1 {
  width: auto;
  height: 0px;
  opacity: 0;
  align-self: flex-end;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 150px;
  margin-bottom: 0px;
}
.abhijavati-hero {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url('https://user-images.githubusercontent.com/127581878/244400524-8bbe0338-92d2-499a-89e6-e74b86fde3d6.png');
}
.abhijavati-main {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  background-color: var(--dl-color-gray-500);
}
.abhijavati-menu {
  gap: var(--dl-space-space-twounits);
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: flex-start;
}
.abhijavati-hamburger {
  color: var(--dl-color-gray-black);
  width: var(--dl-size-size-small);
  cursor: pointer;
  height: var(--dl-size-size-small);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 0px;
  aspect-ratio: 1;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-color: transparent;
}
.abhijavati-icon {
  fill: var(--dl-color-gray-black);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  opacity: 0;
  align-self: center;
}
.abhijavati-mobile-menu {
  width: auto;
  height: auto;
  display: none;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: space-between;
}
.abhijavati-text {
  color: var(--dl-color-gray-white);
  font-size: 45px;
  align-self: center;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  padding-top: 0px;
}
.abhijavati-dropbox-image {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: 0px;
  padding-top: 0px;
  border-color: var(--dl-color-gray-black);
  border-style: dashed;
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-gray-500);
}
.abhijavati-container1 {
  width: 100%;
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.abhijavati-container2 {
  display: contents;
}
.abhijavati-navbar {
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  opacity: 1;
  position: relative;
  max-width: 100%;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
  border-left-width: 0px;
  border-right-width: 0px;
}
.abhijavati-link1 {
  width: var(--dl-size-size-large);
  height: auto;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.abhijavati-link2 {
  width: var(--dl-size-size-large);
  height: auto;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-fourunits);
  border-color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 360px;
  text-decoration: none;
}
.abhijavati-language {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.abhijavati-dropdown-toggle {
  fill: #595959;
  color: var(--dl-color-gray-black);
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 0px;
  padding-top: 6px;
  border-color: var(--dl-color-gray-white);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 6px;
  justify-content: center;
}
.abhijavati-english {
  color: var(--dl-color-gray-black);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 18px;
  margin-right: 0px;
  vertical-align: middle;
}
.abhijavati-dropdown-arrow {
  transition: 0.3s;
}
.abhijavati-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.abhijavati-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.abhijavati-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.abhijavati-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.abhijavati-chn-tw {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.abhijavati-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.abhijavati-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.abhijavati-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.abhijavati-chn-cn {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.abhijavati-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.abhijavati-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.abhijavati-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.abhijavati-vn {
  color: var(--dl-color-gray-black);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.abhijavati-venue {
  gap: 180px;
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 180px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.abhijavati-mya {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 70%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.abhijavati-text07 {
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 300;
}
.abhijavati-activity-1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.abhijavati-heading {
  gap: var(--dl-space-space-halfunit);
  width: 35%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.abhijavati-date {
  font-size: 18px;
  text-align: left;
}
.abhijavati-time {
  font-size: 18px;
  text-align: left;
}
.abhijavati-content {
  gap: 0;
  width: 65%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.abhijavati-text08 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.abhijavati-myph {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 70%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.abhijavati-text09 {
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 300;
}
.abhijavati-activity-11 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 0px;
  display: flex;
  opacity: 0;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.abhijavati-heading1 {
  gap: var(--dl-space-space-halfunit);
  width: 35%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.abhijavati-date1 {
  font-size: 18px;
  text-align: left;
}
.abhijavati-time1 {
  font-size: 18px;
  text-align: left;
}
.abhijavati-content1 {
  gap: 0;
  width: 65%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.abhijavati-text10 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.abhijavati-dt {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 70%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.abhijavati-text11 {
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 300;
}
.abhijavati-activity-12 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.abhijavati-heading2 {
  gap: var(--dl-space-space-halfunit);
  width: 35%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.abhijavati-date2 {
  font-size: 18px;
  text-align: left;
}
.abhijavati-time2 {
  opacity: 0;
  font-size: 18px;
  text-align: left;
}
.abhijavati-content2 {
  gap: 0;
  width: 65%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.abhijavati-text12 {
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.abhijavati-tq {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 70%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
}
.abhijavati-text13 {
  font-size: 36px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 300;
}
.abhijavati-activity-13 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.abhijavati-heading3 {
  gap: var(--dl-space-space-halfunit);
  width: 35%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.abhijavati-date3 {
  opacity: 0;
  font-size: 18px;
  text-align: left;
}
.abhijavati-time3 {
  opacity: 0;
  font-size: 18px;
  text-align: left;
}
.abhijavati-content3 {
  gap: 0;
  width: 65%;
  display: flex;
  align-self: flex-start;
  margin-top: 0px;
  align-items: center;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: ridge;
  border-width: 0px;
  margin-right: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.abhijavati-text14 {
  opacity: 0;
  font-size: 18px;
  align-self: flex-start;
  text-align: left;
}
.abhijavati-social-media {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  margin-right: 0px;
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.abhijavati-image05 {
  width: var(--dl-size-size-xxlarge);
  height: auto;
  align-self: center;
  margin-top: 270px;
  object-fit: cover;
  margin-bottom: 0px;
}
.abhijavati-platforms {
  gap: var(--dl-space-space-unit);
  width: 90%;
  height: 0px;
  display: flex;
  opacity: 0;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: 0px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.abhijavati-whats-app {
  gap: var(--dl-space-space-unit);
  width: 20%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.abhijavati-image06 {
  width: var(--dl-size-size-small);
  height: auto;
  align-self: flex-start;
  object-fit: cover;
}
.abhijavati-caption {
  color: rgb(53, 43, 42);
  width: auto;
  height: 100%;
  font-size: 18px;
  max-width: 80%;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 900;
  line-height: 45px;
}
.abhijavati-zalo {
  gap: var(--dl-space-space-unit);
  width: 20%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.abhijavati-image07 {
  width: var(--dl-size-size-small);
  align-self: flex-start;
  object-fit: cover;
}
.abhijavati-caption1 {
  color: rgb(53, 43, 42);
  width: auto;
  height: 100%;
  font-size: 18px;
  max-width: 80%;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 700;
  line-height: 45px;
}
.abhijavati-line {
  gap: var(--dl-space-space-unit);
  width: 20%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.abhijavati-image08 {
  width: var(--dl-size-size-small);
  align-self: flex-start;
  object-fit: cover;
}
.abhijavati-caption2 {
  color: rgb(53, 43, 42);
  width: auto;
  height: auto;
  font-size: 18px;
  max-width: 80%;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 700;
  line-height: 45px;
}
.abhijavati-we-chat {
  gap: var(--dl-space-space-unit);
  width: 20%;
  height: auto;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.abhijavati-image09 {
  width: var(--dl-size-size-small);
  align-self: flex-start;
  object-fit: cover;
}
.abhijavati-caption3 {
  color: rgb(53, 43, 42);
  width: auto;
  height: 100%;
  font-size: 18px;
  max-width: 80%;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-family: Arial Black;
  font-weight: 700;
  line-height: 45px;
}
.abhijavati-footer {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
  background-color: #352B2A;
}
.abhijavati-branding {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 100%;
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.abhijavati-heading4 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.abhijavati-image10 {
  height: var(--dl-size-size-small);
  object-fit: cover;
}
.abhijavati-caption4 {
  color: var(--dl-color-danger-300);
  height: 100%;
  font-size: 16px;
  align-self: center;
  text-align: left;
  line-height: 21px;
}
.abhijavati-content4 {
  gap: 120px;
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 0px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
}
.abhijavati-contact-link {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 0px;
  display: flex;
  opacity: 0;
  position: relative;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.abhijavati-email {
  height: 0px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 16px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.abhijavati-email:hover {
  opacity: 0.5;
}
.abhijavati-call {
  height: 0px;
  opacity: 0;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-weight: 500;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 0px;
  border-radius: 16px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: rgb(250, 216, 122);
}
.abhijavati-call:hover {
  opacity: 0.5;
}
.abhijavati-text18 {
  width: 0px;
  height: 0px;
}
.abhijavati-copyright {
  color: rgb(118, 105, 104);
  font-size: 12px;
  align-self: center;
}
@media(max-width: 991px) {
  .abhijavati-image {
    width: 100%;
    height: auto;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    padding-top: 0px;
    margin-right: 0px;
  }
  .abhijavati-image01 {
    width: auto;
    height: 120px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
  }
  .abhijavati-image02 {
    width: 100%;
    height: auto;
    margin-top: -32px;
    margin-left: var(--dl-space-space-unit);
    padding-top: 0px;
  }
  .abhijavati-image03 {
    width: auto;
    height: auto;
    margin-top: -32px;
    align-items: center;
    margin-left: 0px;
    padding-top: 0px;
    justify-content: flex-end;
  }
  .abhijavati-video {
    width: 70%;
    height: var(--dl-size-size-medium);
    opacity: 1;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: -32px;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .abhijavati-image04 {
    width: var(--dl-size-size-large);
    height: auto;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 0px;
  }
  .abhijavati-video1 {
    width: 70%;
    height: 0px;
    opacity: 0;
    align-self: center;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .abhijavati-hero {
    width: 100%;
    height: auto;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .abhijavati-main {
    height: auto;
    align-self: flex-start;
    align-items: flex-start;
    padding-left: 0px;
    padding-right: 0px;
  }
  .abhijavati-menu {
    width: 100%;
    height: auto;
    align-self: flex-start;
    align-items: flex-start;
  }
  .abhijavati-hamburger {
    top: -16px;
    left: 70px;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-top: 0px;
    margin-left: var(--dl-space-space-twounits);
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .abhijavati-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
  }
  .abhijavati-mobile-menu {
    top: var(--dl-space-space-halfunit);
    left: var(--dl-space-space-unit);
    right: 0px;
    width: var(--dl-size-size-large);
    height: auto;
    position: absolute;
  }
  .abhijavati-text {
    padding-top: 0px;
  }
  .abhijavati-dropbox-image {
    width: 100%;
    align-self: center;
  }
  .abhijavati-container1 {
    width: 100%;
    align-self: center;
  }
  .abhijavati-navbar {
    opacity: 1;
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;
  }
  .abhijavati-link1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .abhijavati-link2 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: 120px;
  }
  .abhijavati-dropdown-toggle {
    margin-top: 4px;
    padding-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
  }
  .abhijavati-english {
    margin-right: 0px;
  }
  .abhijavati-venue {
    gap: 180px;
    width: 100%;
    align-self: flex-end;
    align-items: flex-start;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-mya {
    gap: var(--dl-space-space-twounits);
    width: 80%;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .abhijavati-activity-1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-self: flex-start;
    align-items: center;
    margin-left: var(--dl-space-space-threeunits);
    flex-direction: row;
    justify-content: flex-start;
  }
  .abhijavati-heading {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    align-items: flex-start;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-date {
    font-size: 18px;
  }
  .abhijavati-time {
    font-size: 18px;
  }
  .abhijavati-content {
    gap: 0;
    width: 60%;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-myph {
    gap: var(--dl-space-space-twounits);
    width: 80%;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .abhijavati-activity-11 {
    gap: var(--dl-space-space-unit);
    width: 428px;
    align-items: center;
    margin-left: 0px;
    flex-direction: row;
  }
  .abhijavati-heading1 {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-content1 {
    gap: 0;
    width: 60%;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-dt {
    gap: var(--dl-space-space-twounits);
    width: 80%;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .abhijavati-activity-12 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-self: flex-start;
    align-items: center;
    margin-left: var(--dl-space-space-threeunits);
    flex-direction: row;
    justify-content: flex-start;
  }
  .abhijavati-heading2 {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    align-items: flex-start;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-content2 {
    gap: 0;
    width: 60%;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-tq {
    gap: var(--dl-space-space-twounits);
    width: 80%;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .abhijavati-activity-13 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    margin-left: 0px;
    flex-direction: row;
  }
  .abhijavati-heading3 {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-content3 {
    gap: 0;
    width: 60%;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
  }
  .abhijavati-social-media {
    width: auto;
    padding-top: 0px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .abhijavati-image05 {
    width: var(--dl-size-size-xlarge);
  }
  .abhijavati-platforms {
    width: 0%;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .abhijavati-whats-app {
    width: 22%;
    height: auto;
    justify-content: flex-start;
  }
  .abhijavati-caption {
    color: rgb(53, 43, 42);
    height: auto;
    font-size: 18px;
    font-family: Arial Black;
    line-height: 27px;
  }
  .abhijavati-zalo {
    width: 22%;
    height: auto;
    justify-content: flex-start;
  }
  .abhijavati-caption1 {
    color: rgb(53, 43, 42);
    height: auto;
    font-size: 18px;
    font-family: Arial Black;
    line-height: 27px;
  }
  .abhijavati-line {
    width: 22%;
    height: auto;
  }
  .abhijavati-caption2 {
    color: rgb(53, 43, 42);
    height: auto;
    font-size: 18px;
    font-family: Arial Black;
    line-height: 27px;
  }
  .abhijavati-we-chat {
    width: 22%;
    height: auto;
  }
  .abhijavati-caption3 {
    color: rgb(53, 43, 42);
    height: auto;
    font-size: 18px;
    font-family: Arial Black;
    line-height: 27px;
  }
  .abhijavati-footer {
    margin-top: var(--dl-space-space-fourunits);
    padding-left: 0px;
    padding-right: 0px;
  }
  .abhijavati-branding {
    max-width: auto;
  }
  .abhijavati-heading4 {
    gap: var(--dl-space-space-unit);
  }
  .abhijavati-caption4 {
    font-size: 9px;
  }
  .abhijavati-content4 {
    gap: var(--dl-space-space-threeunits);
    width: 604px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .abhijavati-email {
    border-radius: 90px;
  }
  .abhijavati-call {
    border-radius: 90px;
  }
}
@media(max-width: 767px) {
  .abhijavati-image {
    height: auto;
    padding-top: 0px;
  }
  .abhijavati-image01 {
    width: auto;
    height: var(--dl-size-size-medium);
  }
  .abhijavati-image02 {
    height: auto;
    margin-top: -90px;
    padding-top: 0px;
    margin-bottom: 0px;
  }
  .abhijavati-image03 {
    height: auto;
    padding-top: 0px;
    justify-content: flex-end;
  }
  .abhijavati-video {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 70%;
    height: var(--dl-size-size-medium);
    margin: -32px;
  }
  .abhijavati-image04 {
    width: var(--dl-size-size-medium);
  }
  .abhijavati-video1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 80%;
    height: 0px;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .abhijavati-hero {
    width: 100%;
    height: auto;
  }
  .abhijavati-main {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .abhijavati-menu {
    width: auto;
    display: flex;
    position: static;
    align-self: center;
  }
  .abhijavati-hamburger {
    top: -16px;
    left: 90px;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-left: var(--dl-space-space-unit);
    padding-left: 0px;
  }
  .abhijavati-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    align-self: center;
  }
  .abhijavati-mobile-menu {
    top: var(--dl-space-space-unit);
    left: var(--dl-space-space-unit);
    width: auto;
    height: auto;
    padding: 0px;
    position: absolute;
    margin-top: var(--dl-space-space-fiveunits);
  }
  .abhijavati-container1 {
    width: 100%;
  }
  .abhijavati-navbar {
    width: 100%;
    height: auto;
    opacity: 1;
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .abhijavati-link1 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .abhijavati-link2 {
    margin-left: var(--dl-space-space-oneandhalfunits);
    margin-right: 120px;
  }
  .abhijavati-dropdown-toggle {
    margin-top: 4px;
    padding-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
  }
  .abhijavati-english {
    margin-right: 0px;
  }
  .abhijavati-venue {
    gap: 180px;
    width: 100%;
    margin-top: 180px;
    padding-right: 0px;
  }
  .abhijavati-mya {
    width: 90%;
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-activity-1 {
    justify-content: flex-start;
  }
  .abhijavati-heading {
    gap: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: 0px;
  }
  .abhijavati-content {
    margin-top: 0px;
    justify-content: flex-start;
  }
  .abhijavati-myph {
    width: 90%;
    height: auto;
    align-items: flex-start;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-activity-11 {
    gap: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .abhijavati-heading1 {
    gap: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .abhijavati-content1 {
    margin-top: 0px;
    justify-content: flex-start;
  }
  .abhijavati-dt {
    width: 90%;
    height: auto;
    align-items: flex-start;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-activity-12 {
    justify-content: flex-start;
  }
  .abhijavati-heading2 {
    gap: var(--dl-space-space-halfunit);
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .abhijavati-date2 {
    width: auto;
  }
  .abhijavati-time2 {
    width: auto;
  }
  .abhijavati-content2 {
    margin-top: 0px;
    justify-content: flex-start;
  }
  .abhijavati-tq {
    width: 90%;
    height: auto;
    align-items: flex-start;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-activity-13 {
    gap: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .abhijavati-heading3 {
    gap: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .abhijavati-content3 {
    margin-top: 0px;
    justify-content: flex-start;
  }
  .abhijavati-social-media {
    width: auto;
    height: auto;
    align-items: flex-end;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .abhijavati-image05 {
    width: var(--dl-size-size-xlarge);
  }
  .abhijavati-platforms {
    width: 0px;
    height: 0px;
    align-self: center;
    align-items: flex-end;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .abhijavati-whats-app {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 0%;
    height: 0px;
    align-self: flex-end;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .abhijavati-caption {
    color: rgb(53, 43, 42);
    width: 65%;
    height: auto;
    font-size: 16px;
    font-family: Karla;
    line-height: 27px;
  }
  .abhijavati-zalo {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 0%;
    height: 0px;
    align-self: flex-end;
    align-items: flex-start;
    flex-direction: row;
  }
  .abhijavati-caption1 {
    color: rgb(53, 43, 42);
    width: 65%;
    height: auto;
    font-size: 16px;
    font-family: Karla;
    line-height: 27px;
  }
  .abhijavati-line {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 0%;
    height: 0px;
    align-self: flex-end;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
  }
  .abhijavati-caption2 {
    color: rgb(53, 43, 42);
    width: 65%;
    height: auto;
    font-size: 16px;
    font-family: Karla;
    line-height: 27px;
  }
  .abhijavati-we-chat {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 0%;
    height: 0px;
    align-self: flex-end;
    align-items: flex-start;
    flex-direction: row;
  }
  .abhijavati-caption3 {
    color: rgb(53, 43, 42);
    width: 65%;
    height: auto;
    font-size: 16px;
    font-family: Karla;
    line-height: 27px;
  }
  .abhijavati-footer {
    width: 100%;
    margin-top: 0px;
    justify-content: center;
  }
  .abhijavati-branding {
    max-width: auto;
  }
  .abhijavati-caption4 {
    font-size: 9px;
  }
  .abhijavati-content4 {
    width: auto;
    max-width: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .abhijavati-contact-link {
    gap: var(--dl-space-space-unit);
    width: auto;
    max-width: auto;
  }
  .abhijavati-email {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 479px) {
  .abhijavati-image {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: center;
    margin-right: 0px;
  }
  .abhijavati-image01 {
    width: auto;
    height: 54px;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 0px;
  }
  .abhijavati-image02 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    align-items: flex-end;
    margin-left: 0px;
    justify-content: flex-end;
  }
  .abhijavati-image03 {
    gap: var(--dl-space-space-twounits);
    width: auto;
    height: auto;
    margin-top: 0px;
    align-items: center;
  }
  .abhijavati-video {
    left: -63PX;
    right: 0px;
    width: 80%;
    bottom: var(--dl-space-space-halfunit);
    height: var(--dl-size-size-small);
    opacity: 1;
    align-self: flex-end;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
  }
  .abhijavati-image04 {
    width: 0px;
    height: 63px;
    margin-top: var(--dl-space-space-unit);
    padding-top: 0px;
    margin-right: 2px;
  }
  .abhijavati-video1 {
    left: -63PX;
    right: 0px;
    width: auto;
    bottom: var(--dl-space-space-halfunit);
    height: 0px;
    opacity: 0;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
    margin-bottom: 4px;
  }
  .abhijavati-hero {
    width: 100%;
    height: auto;
    align-self: center;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .abhijavati-main {
    width: 100%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .abhijavati-menu {
    width: 100%;
    position: static;
    margin-top: 0px;
  }
  .abhijavati-hamburger {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    text-align: left;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .abhijavati-icon {
    top: var(--dl-space-space-twounits);
    fill: var(--dl-color-gray-black);
    width: 36px;
    height: 36px;
    margin-top: var(--dl-space-space-halfunit);
  }
  .abhijavati-mobile-menu {
    top: 0px;
    left: 0px;
    width: var(--dl-size-size-medium);
    bottom: 0px;
    height: auto;
    padding: 0px;
    position: absolute;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
  }
  .abhijavati-text {
    color: var(--dl-color-gray-900);
    width: 100%;
    font-size: 27px;
    text-align: center;
    font-weight: 200;
    line-height: 18px;
  }
  .abhijavati-dropbox-image {
    width: 100%;
    height: auto;
  }
  .abhijavati-container1 {
    width: 100%;
    align-self: flex-end;
  }
  .abhijavati-navbar {
    height: auto;
    opacity: 1;
    position: 0px;
    max-width: 100%;
    align-self: stretch;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
    background-color: var(--dl-color-gray-900);
  }
  .abhijavati-link1 {
    width: var(--dl-size-size-medium);
    font-size: 14px;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    margin-left: 0px;
    margin-right: 0px;
  }
  .abhijavati-link2 {
    width: var(--dl-size-size-medium);
    font-size: 14px;
    align-self: center;
    font-style: normal;
    font-weight: 700;
    margin-left: var(--dl-space-space-unit);
    margin-right: 36px;
    text-decoration: none;
  }
  .abhijavati-dropdown-toggle {
    margin-top: 2px;
    padding-top: 4px;
    padding-left: var(--dl-space-space-halfunit);
    margin-bottom: 2px;
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: 4px;
  }
  .abhijavati-english {
    color: var(--dl-color-gray-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-right: 0px;
  }
  .abhijavati-dropdown-toggle1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .abhijavati-chn-tw {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  .abhijavati-dropdown-toggle2 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .abhijavati-chn-cn {
    font-size: 14px;
    line-height: 14px;
  }
  .abhijavati-dropdown-toggle3 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .abhijavati-vn {
    font-size: 14px;
    line-height: 14px;
  }
  .abhijavati-venue {
    gap: var(--dl-space-space-sixunits);
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: var(--dl-space-space-sixunits);
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .abhijavati-mya {
    gap: var(--dl-space-space-unit);
    width: 95%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .abhijavati-text07 {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
  }
  .abhijavati-activity-1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
  .abhijavati-heading {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    height: auto;
    position: relative;
    align-self: center;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: center;
  }
  .abhijavati-date {
    align-self: flex-start;
  }
  .abhijavati-time {
    align-self: flex-start;
  }
  .abhijavati-content {
    gap: 0;
    width: 60%;
    height: auto;
    position: relative;
    align-self: flex-start;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: center;
  }
  .abhijavati-myph {
    gap: var(--dl-space-space-unit);
    width: 95%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .abhijavati-text09 {
    width: auto;
    font-size: 30px;
  }
  .abhijavati-activity-11 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
    justify-content: center;
  }
  .abhijavati-heading1 {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    height: auto;
    position: relative;
    align-self: center;
    align-items: center;
    margin-left: var(--dl-space-space-unit);
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: center;
  }
  .abhijavati-content1 {
    gap: 0;
    width: 60%;
    height: auto;
    position: relative;
    align-self: center;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: center;
  }
  .abhijavati-dt {
    gap: var(--dl-space-space-unit);
    width: 95%;
    height: auto;
    margin: var(--dl-space-space-oneandhalfunits);
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .abhijavati-text11 {
    font-size: 30px;
    align-self: flex-start;
    font-style: normal;
    font-weight: 300;
  }
  .abhijavati-activity-12 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    position: relative;
    align-self: flex-start;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .abhijavati-heading2 {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    height: auto;
    position: relative;
    align-self: center;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: center;
  }
  .abhijavati-date2 {
    align-self: flex-start;
  }
  .abhijavati-time2 {
    align-self: flex-start;
  }
  .abhijavati-content2 {
    gap: 0;
    width: 60%;
    height: auto;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: flex-start;
  }
  .abhijavati-tq {
    gap: var(--dl-space-space-unit);
    width: 95%;
    height: auto;
    margin: var(--dl-space-space-oneandhalfunits);
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .abhijavati-text13 {
    font-size: 30px;
  }
  .abhijavati-activity-13 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    position: relative;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
    justify-content: center;
  }
  .abhijavati-heading3 {
    gap: var(--dl-space-space-halfunit);
    width: 40%;
    height: auto;
    position: relative;
    align-self: center;
    align-items: flex-start;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: center;
  }
  .abhijavati-content3 {
    gap: 0;
    width: 60%;
    height: auto;
    position: relative;
    align-self: center;
    align-items: center;
    margin-left: 0px;
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
    margin-right: 0px;
    margin-bottom: -;
    justify-content: center;
  }
  .abhijavati-social-media {
    width: auto;
    height: auto;
    align-self: center;
    align-items: center;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .abhijavati-image05 {
    width: var(--dl-size-size-large);
    margin-top: 120px;
    margin-bottom: 0px;
  }
  .abhijavati-platforms {
    width: 0px;
    height: 0px;
    align-self: center;
    align-items: center;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
    background-color: var(--dl-color-gray-white);
  }
  .abhijavati-whats-app {
    gap: var(--dl-space-space-halfunit);
    width: 35%;
    height: 0px;
    align-self: flex-end;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .abhijavati-image06 {
    width: 36px;
  }
  .abhijavati-caption {
    color: rgb(53, 43, 42);
    width: auto;
    height: 0px;
    font-size: 18px;
    max-width: auto;
    align-self: flex-start;
    font-style: normal;
    font-family: Arial Black;
    font-weight: 700;
    line-height: 36px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-zalo {
    gap: var(--dl-space-space-halfunit);
    width: 35%;
    height: 0px;
    align-self: flex-end;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .abhijavati-image07 {
    width: 36px;
  }
  .abhijavati-caption1 {
    color: rgb(53, 43, 42);
    width: auto;
    height: 0px;
    font-size: 18px;
    max-width: auto;
    align-self: flex-start;
    font-style: normal;
    font-family: Arial Black;
    font-weight: 700;
    line-height: 36px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-line {
    gap: var(--dl-space-space-halfunit);
    width: 35%;
    height: 0px;
    align-self: flex-end;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .abhijavati-image08 {
    width: 36px;
  }
  .abhijavati-caption2 {
    color: rgb(53, 43, 42);
    width: auto;
    height: 0px;
    font-size: 18px;
    max-width: auto;
    align-self: flex-start;
    font-style: normal;
    font-family: Arial Black;
    font-weight: 700;
    line-height: 36px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-we-chat {
    gap: var(--dl-space-space-halfunit);
    width: 35%;
    height: auto;
    align-self: flex-end;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .abhijavati-image09 {
    width: 36px;
    height: 0px;
  }
  .abhijavati-caption3 {
    color: rgb(53, 43, 42);
    width: auto;
    height: 0px;
    font-size: 18px;
    max-width: auto;
    align-self: flex-start;
    font-style: normal;
    font-family: Arial Black;
    font-weight: 700;
    line-height: 36px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .abhijavati-footer {
    width: 100%;
    align-self: center;
    margin-top: var(--dl-space-space-twounits);
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .abhijavati-branding {
    width: auto;
    max-width: 100%;
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-oneandhalfunits);
  }
  .abhijavati-heading4 {
    width: 100%;
  }
  .abhijavati-image10 {
    height: 36px;
  }
  .abhijavati-caption4 {
    font-size: 9px;
  }
  .abhijavati-content4 {
    width: auto;
  }
  .abhijavati-contact-link {
    gap: var(--dl-space-space-oneandhalfunits);
    max-width: auto;
  }
  .abhijavati-email {
    height: 0px;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .abhijavati-call {
    width: 0px;
    height: 0px;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .abhijavati-text18 {
    width: 0px;
    height: 0px;
    opacity: 0;
  }
}
